body {
    background: url("landlord02.jpg");
    cursor: url("../cursor.ico"), auto;
}

.box {
    position: relative;
    left: 50%;
    margin: 0 0 0 -325px;
    top: 150px;
    border: 1px;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f3f3f3), color-stop(.1, #fff));
    width: 650px;
    height: 650px;
    box-shadow: 0 0 20px #4c4c51;
    border-radius: 20px;
}

.header {
    padding: 0px;
    font-size: 36px;
    text-align: center;
    color: grey;
    height: 80px;
    border-style: none none groove none;
}

.title {
    display: block;
    position: relative;
    margin-top: 10px;
    border-style: none;
}

.error {
    height: 40px;
    width: 350px;
    background-color: red;
    margin: 10px 0 0 -175px;
    position: relative;
    left: 50%;
    border: 0;
    border-radius: 8px;
    font-size: 22px;
    text-align: center;
    color: white;
    display: none;
}

.body {
    border: none;
    background-color: ghostwhite;
    width: 600px;
    height: 420px;
    position: relative;
    top: 50px;
    left: 25px;
}

.user {
    position: relative;
    font-size: 30px;
    padding-left: 125px;
    padding-top: 25px;
    margin: 0px;
    color: #9d9d9d;
}

input:focus {
    outline: none;
    border: 1px solid #99c4ff;
}

.input {
    height: 40px;
    width: 350px;
    background-color: #eefa46;
    margin: 10px 0px 0px -175px;
    position: relative;
    left: 50%;
    border: 0;
    border-radius: 8px;
    font-size: 22px;
}

.pw {
    margin: 30px 0 0 0;
    position: relative;
    font-size: 30px;
    padding-left: 125px;
    color: #9d9d9d;
}

button {
    height: 50px;
    width: 350px;
    background-color: #496bfa;
    margin: 20px 0px 0px -175px;
    position: relative;
    left: 50%;
    border: 0;
    border-radius: 8px;
    font-size: 22px;
    color: #fff7f4;
}

button:hover, button:active {
    background-color: blue;
}

a.register {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: grey;
}

a:hover, a:active {
    color: blue;
}
