body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: #f1f1f1;
    cursor:url("../cursor.ico"),auto;
    overflow-y: hidden;
}
a{
    text-decoration: none;
    color: #000;
}
input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 255, 0.77);
}
button:focus{
    outline: none;
}

.header {
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    height: 60px;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 5px solid rgb(49, 48, 48);
    white-space: nowrap;
}

.picture {
    position: relative;
    margin: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url("token.jpg") no-repeat;
    background-size: cover;
}

.header>span,
.header>a,
.header>button {
    display: inline-block;
    font-size: 18px;
    position: relative;
    padding: 8px;
    margin: 0 0 0 20px;
    text-align: center;
    border-radius: 20px;
    transform: translateY(-16px);
}
.header>button{
    color:black;
}

.header>span:hover,
.header>span:active {
    background-color: darkblue;
    color:white;
}

.header>a:hover,
.header>a:active {
    background-color: darkblue;
    color:white;
}

.choose1 {
    background-color: darkblue;
    color:white;
}

.choose2 {
    background-color: lightblue;
}
.forum {
    background-color: lightblue;
}

.userName {
    background: transparent !important;
    border:none;
    text-decoration: underline;
}

.userName:hover{
    color:red;
}

.pageUp {
    background: #e8c775;
    text-align: center;
    border:none;
}

.pageUp:hover,
.pageUp:active {
    background-color: rgb(252, 92, 0);
    color:white;
}

#form{
    display: inline-block;
    margin:0 0 0 20px;
}

.exit {
    position: relative;
    width:56px;
    height:38px;
    background: rgba(255, 74, 95, 0.86);
    text-align: center;
    font-size: 18px;
    transform: translateY(-16px);
}

.exit:hover,
.exit:active {
    background-color: rgb(255, 40, 37);
    color: #fff8af;
}
.body1
{
    display:block;
    margin-top: 70px;
    position:absolute;
    overflow-y: scroll;
    width:100%;
    height:88%;
}
input
{
    height:25px;
    width:250px;
    border-radius: 8px;
    border:2px;
    margin:0;
}

